.analyzer {
	text-align: center;

	h1 {
		margin: 0;
		padding: 0;
	}

	.tokens {
		.editor-sizing();
		min-height: @editor-height;
		height: auto;

		position: relative;
		display: inline-block;
		padding: @editor-padding;
		margin: (@editor-min-margin / 2) 0;
		text-align: left;
		background-color: #edf3ff;
		font-size: @editor-font-size;

		.corner-item {
			position: absolute;
			top: @editor-padding;
			right: @editor-padding;

			.loader {
				display: block;
			}
		}
	}

	.token {
		border-bottom: 3px solid;
	}
}
