body {
  font-family: sans-serif;
}
button {
  padding: 5px 20px;
  margin: 0;
  border: none;
  background-color: #65bcd4;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #2e8ba5;
}
.editor-sizing {
  box-sizing: border-box;
  width: 500px;
  height: 200px;
}
@media (max-width: 520px) {
  .editor-sizing {
    width: calc(100% -  20px);
  }
}
.editor {
  text-align: center;
}
.editor h1 {
  padding: 0;
  margin: 0;
}
.editor textarea {
  width: 500px;
  height: 200px;
  padding: 5px;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 18px;
  resize: none;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
}
@media (max-width: 520px) {
  .editor textarea {
    width: calc(100% -  20px);
  }
}
.editor textarea:focus {
  outline: 0;
}
.analyzer {
  text-align: center;
}
.analyzer h1 {
  margin: 0;
  padding: 0;
}
.analyzer .tokens {
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  min-height: 200px;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  text-align: left;
  background-color: #edf3ff;
  font-size: 18px;
}
@media (max-width: 520px) {
  .analyzer .tokens {
    width: calc(100% -  20px);
  }
}
.analyzer .tokens .loader {
  position: absolute;
  top: 5px;
  right: 5px;
}
.analyzer .token {
  border-bottom: 3px solid;
}
.analyzer .error-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 230, 230, 0.75);
}
.analyzer .error-cover label {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}
.loader {
  display: block;
  width: 20px;
  height: 20px;
  color: transparent;
  font-size: 0;
  background-image: url(../images/loader.svg);
  background-size: 100% 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.token-pane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.token-pane .pane-item {
  height: 35px;
  line-height: 35px;
}
.token-pane .pane-contents {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 7px 0;
  background-color: white;
  position: absolute;
  top: calc(50% - 132.5px);
  left: calc(50% - 125px);
  width: 250px;
  height: 265px;
  text-align: left;
}
.token-pane .loader {
  position: absolute;
  left: 115px;
  top: 122.5px;
}
.token-pane h1,
.token-pane .error {
  height: 35px;
  line-height: 35px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.token-pane .error {
  color: red;
}
.token-pane ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.token-pane li {
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 10px;
  border-top: 1px solid #d5d5d5;
}
.token-pane li .suggestion {
  float: left;
}
.token-pane li .probability {
  float: right;
}
.token-pane li::after {
  content: '';
  display: block;
  clear: both;
}
